:root {
  --blue-color: #66C9E8;
  --dark-blue-color: #336C81;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.image-container {
  background: url("./images/car.jpg");
  background-position: center;
  background-size: cover;
  height: 90vh;
}

a, .image-container p, h1, h2, i, li {
  color: white;
}

h2, h3, p, a {
  font-family: 'Poppins', sans-serif;
}

header {
  margin: 0;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.logo-container {
  display: flex;
  margin: 0;
  align-items: center;
}

.logo-container i {
  font-size: 1.75rem;
  transition: all 2s;
}

.logo-container:hover i {
  transform: rotate(360deg);
}

h2 {
  margin: 0;
}

ul {
  display: flex;
  align-items: center;
}

.apmt-button {
  background-color: var(--blue-color);
  display: inline-block;
  padding: .5rem;
  transition: all .5s;
}

.apmt-button:hover {
  transform: scale(1.05);
  background-color: var(--dark-blue-color);
  border-radius: 10px;
}

ul .apmt-button {
  position: relative;
  margin-left: 10px;
}

.drop-down {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #2A282B;
  padding: .75rem;
  height: auto;
}

.drop-down p {
  margin: 0;
}

ul .apmt-button:hover .drop-down {
  display: block;
}

.link {
  margin: 0 .5rem;
  /* bc transform doesn't work on inline elements */
  display: inline-block; 
  transition: all 1s;
}

.link:hover {
  transform: scale(1.1);
}

.menu-icon {
  display: none;
}

.hero-container {
  margin: 20vh 0 0 10vw;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
  font-family: 'Bebas Neue', cursive;
}

.hero-container p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.hero-container a {
  font-size: 1.5rem;
}

footer {
  background-color: #2A282B;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
}

footer h3, footer p {
  margin: 0;
}

footer h3 {
  color: var(--blue-color);
}

footer p {
  color: white;
}

@media screen and (max-width: 1024px) {
  .logo-container h2 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  footer h3 {
    font-size: .9rem;
  }

  footer p {
    font-size: .7rem;
  }
}

@media screen and (max-width: 540px) {
  ul {
    display: none;
  }

  i {
    margin-top: 15px;
  }

  .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .hero-container {
    margin: 80px 0;
    text-align: center;
    justify-content: center;
  }

  .hero-container p {
    margin: 0 0 10px 0;
  }

  footer h3 {
    font-size: 1rem;
  }

  footer p {
    font-size: .8rem;
  }

  footer {
    flex-wrap: wrap;
  }

  .contact {
    min-width: 300px;
    text-align: center;
    margin: 10px 0;
  }
}